# Used to customize configuration when doing a `chezmoi init`.
#
# This template file will trigger prompts to fill-in machine-specific
# templateable values. The resulting file is then created at
# `~/.config/chezmoi/chezmoi.toml`
# See https://www.chezmoi.io/docs/how-to/
#
# {{- /* This file supports Go's text/template language. */}}

{{- $email := promptString "Git email address for the author/committer" }}
{{- $name := promptString "Git username for the author/committer" }}
{{- $type := promptStringOnce . "type" "Type (work/workstation)" | replaceAllRegex "^(work|workstation)$" "$1" | default "work" }}
{{- $workEmail := "" }}
{{- $workName := "" }}
{{- if eq $type "work" }}
{{-   $workEmail = promptStringOnce . "workEmail" "Git email address for work repositories" $email }}
{{-   $workName = promptStringOnce . "workName" "Git username for work repositories" $name }}
{{- end }}

[data]
    email = "{{ $email }}"
    name = "{{ $name }}"
    type = "{{ $type }}"
    workEmail = "{{ $workEmail }}"
    workName = "{{ $workName }}"

[diff]
    format = "git"
    pager = "delta"

[merge]
    command = "nvim"
    args = "-d"
