#!/bin/zsh

# - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -

# Make default programs

export BROWSER="firefox"
export EDITOR="nvim"
export FILE="nnn"
export READER="zathura"
export STATUSBAR="waybar"
export TERMINAL="foot"
export VISUAL="ewrap"
export SUDO_ASKPASS="$HOME/.local/bin/wofipass"

# - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -

# Set cursor theme

# These environment variables probably not working properly
export XCURSOR_THEME="Adwaita"
export SWAY_CURSOR_THEME="Adwaita"
{{- if eq .host "thinkpad-x250" }}
export XCURSOR_SIZE="12"
export SWAY_CURSOR_SIZE="12"
{{- else }}
export XCURSOR_SIZE="16"
export SWAY_CURSOR_SIZE="16"
{{- end }}

# - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -

# Desktop settings for screen casting

export XDG_CURRENT_DESKTOP="sway"

# - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -

# Ignore commands that start with spaces and duplicates.

export HISTCONTROL=ignoreboth:erasedups

# - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -

# Increase the maximum number of lines of history
# persisted in the history file.

export HISTFILESIZE=30000

# - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -

# Don't add certain commands to the history file.

export HISTIGNORE="&:[bf]g:c:clear:history:exit:q:pwd:ls:cd ..:* --help"

# - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -

# Increase the maximum number of commands recorded
# in the command history.

export HISTSIZE=30000

# - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -

# Use custom `less` colors for `man` pages.

export LESS_TERMCAP_md="$(
  tput bold 2>/dev/null
  tput setaf 2 2>/dev/null
)"

export LESS_TERMCAP_me="$(tput sgr0 2>/dev/null)"

# - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -

# Set bat as pager

export MANPAGER="sh -c 'col -bx | bat -l man -p'"

# - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -

# Customize PATH

pathmunge () {
        if ! echo "$PATH" | /bin/grep -Eq "(^|:)$1($|:)" ; then
           if [ "$2" = "after" ] ; then
              PATH="$PATH:$1"
           else
              PATH="$1:$PATH"
           fi
        fi
}

export GOPATH=$HOME/go

pathmunge $HOME/.node/bin/
pathmunge $HOME/.yarn/bin/
pathmunge $HOME/.local/bin/
pathmunge $HOME/.SpaceVim/bin/
pathmunge /usr/lib/go/bin/
pathmunge $GOPATH/bin/

# - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -

# Make new shells get the history lines from all previous
# shells instead of the default "last window closed" history.

if [ ! -z "$PROMPT_COMMAND" ]; then
  export PROMPT_COMMAND="history -a; history -c; history -r; $PROMPT_COMMAND"
fi

# - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -

# Make Python use UTF-8 encoding for output to stdin/stdout/stderr.

export PYTHONIOENCODING="UTF-8"

# - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -

# FZF options

export FZF_DEFAULT_COMMAND='fd --type f --hidden --follow --exclude .git'
export FZF_DEFAULT_OPTS="--height 40% --layout=reverse --border "

export FZF_CTRL_T_COMMAND="$FZF_DEFAULT_COMMAND"
export FZF_CTRL_R_OPTS='--sort --exact'
export FZF_CTRL_T_OPTS="--preview 'cat {}'"

# - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -

# SSH environment file

export SSH_ENV="$HOME/.ssh/environment"

# - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -

# nnn settings

export NNN_OPENER="xdg-open"
export NNN_SSHFS_OPTS="sshfs -o follow_symlinks"
export NNN_USE_EDITOR=1
export NNN_CONTEXT_COLORS="2136"
export NNN_PLUG='o:fzopen;m:nmount;p:pdfview;l:launch'

# - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -

# Grim settings

export GRIM_DEFAULT_DIR="$HOME/pictures/screenshots"

# - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -

# NPM exports

export NODE_PATH="$HOME/.node/lib/node_modules:$NODE_PATH"
export MANPATH="$HOME/.node/share/man:$MANPATH"

# - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
