[Desktop Entry]
Name=Bitwarden
GenericName=Password Manager
Comment=A secure and free password manager for all of your devices.
Exec=bitwarden-desktop --enable-features=UseOzonePlatform,WebRTCPipeWireCapturer --ozone-platform=wayland
Terminal=false
Type=Application
Icon=bitwarden
Categories=Utility;
StartupWMClass=Bitwarden
