[Desktop Entry]
Name=Caprine
StartupWMClass=Caprine
Comment=Caprine
GenericName=Caprine
Exec=caprine --enable-features=UseOzonePlatform --ozone-platform=wayland
Icon=caprine
Type=Application
StartupNotify=true
Categories=Network;InstantMessaging;
