[Desktop Entry]
Type=Application
Name=File Manager
Exec=/usr/bin/footclient nnn %u
Terminal=true
MimeType=inode/directory
Categories=System;FileTools;FileManager;ConsoleOnly
Keywords=File;Manager;Management;Explorer;Launcher
