/*
* nightfox
  primary:
    background: "#192330"
    foreground: "#cdcecf"
  # Normal colors
  normal:
    black: "#393b44"
    red: "#c94f6d"
    green: "#81b29a"
    yellow: "#dbc074"
    blue: "#719cd6"
    magenta: "#9d79d6"
    cyan: "#63cdcf"
    white: "#dfdfe0"
  # Bright colors
  bright:
    black: "#475072"
    red: "#d6616b"
    green: "#58cd8b"
    yellow: "#ffe37e"
    blue: "#84cee4"
    magenta: "#b8a1e3"
    cyan: "#59f0ff"
    white: "#f2f2f2"
  indexed_colors:
    - { index: 16, color: "#f4a261" }
    - { index: 17, color: "#d67ad2" }
*/

@keyframes blink-warning {
  70% {
    color: #dfdfe0;
  }

  to {
    color: #dfdfe0;
    background-color: #f4a261;
  }
}

@keyframes blink-critical {
  70% {
    color: #dfdfe0;
  }

  to {
    color: #dfdfe0;
    background-color: #c94f6d;
  }
}

/* -----------------------------------------------------------------------------
 * Base styles
 * -------------------------------------------------------------------------- */

/* Reset all styles */
* {
  border: none;
  border-radius: 0;
  min-height: 0;
  margin: 0;
  padding: 0;
}

/* The whole bar */
#waybar {
  background: #192330;
  color: #dfdfe0;
  font-family: Hack Nerd Font;
  font-size: 20px;
}

/* Each module */
#battery,
#clock,
#cpu,
#custom-spotify,
#custom-keyboard-layout,
#custom-vpn,
#memory,
#mode,
#network,
#pulseaudio,
#idle_inhibitor,
#temperature,
#tray {
  padding-left: 8px;
  padding-right: 8px;
}

/* -----------------------------------------------------------------------------
 * Module styles
 * -------------------------------------------------------------------------- */

#battery {
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

#battery.warning {
  color: #f4a261;
  font-weight: bold;
}

#battery.critical {
  color: #c94f6d;
  font-weight: bold;
}

#battery.warning.discharging {
  /* animation-name: blink-warning; */
  /* animation-duration: 3s; */
  font-weight: bold;
}

#battery.critical.discharging {
  animation-name: blink-critical;
  animation-duration: 1s;
  font-weight: bold;
}

#clock {
  font-weight: bold;
}

#cpu {
  /* No styles */
}

#cpu.warning {
  color: #f4a261;
}

#cpu.critical {
  color: #c94f6d;
  font-weight: bold;
}

#memory {
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

#memory.warning {
  color: #f4a261;
}

#memory.critical {
  color: #c94f6d;
  animation-name: blink-critical;
  animation-duration: 2s;
  font-weight: bold;
}

#mode {
  background: #64727d;
  border-top: 2px solid #dfdfe0;
  /* To compensate for the top border and still have vertical centering */
  padding-bottom: 2px;
}

#idle_inhibitor {
  padding-right: 12px;
}

#network {
  /* No styles */
}

#network.disconnected {
  color: #f4a261;
}

#pulseaudio {
  /* No styles */
}

#pulseaudio.muted {
  /* No styles */
}

#temperature {
  /* No styles */
}

#temperature.critical {
  color: #c94f6d;
  font-weight: bold;
}

#tray {
  /* No styles */
}

#window {
  font-weight: bold;
}

#workspaces button:hover {
  border-top: 2px solid #dbc074;
}

#workspaces button {
  border-top: 2px solid transparent;
  background-color: transparent;
  padding-left: 0;
  padding-right: 4px;
  color: #dfdfe0;
  font-size: 18px;
}

#workspaces button.focused {
  border-color: #9d79d6;
  color: #dfdfe0;
  background-color: #393b44;
}

#workspaces button.urgent {
  border-color: #c9545d;
  color: #c9545d;
}

#custom-separator {
  font-size: 17px;
  color: #393b44;
  background: transparent;
}
