window {
margin: 0px;
border: 0px;
background-color: #2c2c2e;
}

#input {
margin: 5px;
border: none;
color: #252424;
background-color: #9f9f9f;
}

#inner-box {
margin: 5px;
border: none;
background-color: #2c2c2e;
}

#outer-box {
margin: 5px;
border: none;
background-color: #2c2c2e;
}

#scroll {
margin: 0px;
border: none;
}

#text {
margin: 5px;
border: none;
color: #9f9f9f;
} 

#entry:selected {
background-color: #252424;
}
