[mgr]
ratio = [1, 2, 4]

[preview]
max_width = 1600
max_height = 1900

[opener]
edit = [
  { run = '${EDITOR:-vi} %s', desc = "Edit", block = true, orphan = false, for = "macos" },
]
browser = [
  { run = '${BROWSER:-firefox} %s', desc = "Browser", orphan = true, for = "macos" },
]
open = [{ run = "open %s", desc = "Open", orphan = true, for = "macos" }]
reveal = [{ run = "open -R %s1", desc = "Reveal", for = "macos" }]
extract = [
  { run = "ya pub extract --list %s", desc = "Extract here", for = "macos" },
]
play = [
  { run = 'open -a IINA %s', desc = "Play", orphan = true, for = "macos" },
]

[open]
rules = [
  # Folder
  { url = "*/", use = [
    "edit",
    "open",
    "reveal",
  ] },
  # HTML
  { mime = "text/html", use = [
    "browser",
    "edit",
    "reveal",
  ] },
  # Text
  { mime = "text/*", use = [
    "edit",
    "browser",
    "reveal",
  ] },
  # Image
  { mime = "image/*", use = [
    "open",
    "reveal",
  ] },
  # Media
  { mime = "{audio,video}/*", use = [
    "play",
    "reveal",
  ] },
  # Archive
  { mime = "application/{,g}zip", use = [
    "extract",
    "reveal",
  ] },
  { mime = "application/x-{tar,bzip*,7z-compressed,xz,rar}", use = [
    "extract",
    "reveal",
  ] },
  # JSON
  { mime = "application/{json,x-ndjson}", use = [
    "edit",
    "reveal",
  ] },
  { mime = "*/javascript", use = [
    "edit",
    "reveal",
  ] },
  # Empty file
  { mime = "inode/x-empty", use = [
    "edit",
    "reveal",
  ] },
  # Fallback
  { url = "*", use = [
    "open",
    "reveal",
    "edit",
    "browser",
  ] },
]

[[plugin.prepend_fetchers]]
id = "git"
name = "*"
run = "git"

[[plugin.prepend_fetchers]]
id = "git"
name = "*/"
run = "git"

[plugin]
prepend_previewers = [
  # Archive previewer
  { mime = "application/*zip", run = "ouch" },
  { mime = "application/x-tar", run = "ouch" },
  { mime = "application/x-bzip2", run = "ouch" },
  { mime = "application/x-7z-compressed", run = "ouch" },
  { mime = "application/x-rar", run = "ouch" },
  { mime = "application/x-xz", run = "ouch" },
  { mime = "application/xz", run = "ouch" },
]
