@keyframes blink-warning {
    70% {
        color: white;
    }

    to {
        color: white;
        background-color: orange;
    }
}

@keyframes blink-critical {
    70% {
      color: white;
    }

    to {
        color: white;
        background-color: red;
    }
}


/* -----------------------------------------------------------------------------
 * Base styles
 * -------------------------------------------------------------------------- */

/* Reset all styles */
* {
    border: none;
    border-radius: 0;
    min-height: 0;
    margin: 0;
    padding: 0;
}

/* The whole bar */
#waybar {
    background: #323232;
    color: white;
    font-family: Hack, Fontawesome, sans-serif;
    font-size: 10px;
}

/* Each module */
#battery,
#clock,
#cpu,
#custom-keyboard-layout,
#memory,
#mode,
#network,
#pulseaudio,
#temperature,
#tray {
    padding-left: 10px;
    padding-right: 10px;
}


/* -----------------------------------------------------------------------------
 * Module styles
 * -------------------------------------------------------------------------- */

#battery {
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#battery.warning {
    color: orange;
    font-weight: bold;
}

#battery.critical {
    color: red;
    font-weight: bold;
}

#battery.warning.discharging {
    animation-name: blink-warning;
    animation-duration: 3s;
    font-weight: bold;
}

#battery.critical.discharging {
    animation-name: blink-critical;
    animation-duration: 2s;
    font-weight: bold;
}

#clock {
    font-weight: bold;
}

#cpu {
  /* No styles */
}

#cpu.warning {
    color: orange;
}

#cpu.critical {
    color: red;
    font-weight: bold;
}

#memory {
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#memory.warning {
    color: orange;
}

#memory.critical {
    color: red;
    animation-name: blink-critical;
    animation-duration: 2s;
    font-weight: bold;
}

#mode {
    background: #64727D;
    border-top: 2px solid white;
    /* To compensate for the top border and still have vertical centering */
    padding-bottom: 2px;
}

#network {
    /* No styles */
}

#network.disconnected {
    color: orange;
}

#pulseaudio {
    /* No styles */
}

#pulseaudio.muted {
    /* No styles */
}

#temperature {
    /* No styles */
}

#temperature.critical {
    color: red;
    font-weight: bold;
}

#tray {
    /* No styles */
}

#window {
    font-weight: bold;
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
#workspaces button:hover {
  background: rgba(0, 1, 51, 0.2);
  color: #ffffff;
  box-shadow: inherit;
  border-bottom: 2px solid pink;
}

#workspaces button {
    border-top: 2px solid transparent;
    background-color: transparent;
    padding: 0 2px;
    color: #ffffff;
}

#workspaces button.focused {
    border-color: #909090;
    color: white;
    background-color: #252424;
}

#workspaces button.urgent {
    border-color: #c9545d;
    color: #c9545d;
}

#custom-separator {
  font-size: 17px;
	color: #484848;
	background: transparent
}
