prSections:
  - title: My pull requests
    filters: is:open assignee:@me sort:created-desc
  - title: Review requested
    filters: is:open -assignee:@me review-requested:@me -is:draft sort:created-desc
  - title: Ready
    filters: is:open -assignee:@me -is:draft sort:created-desc org:onomondo
  - title: Draft
    filters: is:open -assignee:@me is:draft sort:created-desc org:onomondo
  - title: Recently closed my prs
    filters: is:closed author:@me sort:created-desc
  - title: Recently closed work prs
    filters: is:closed sort:created-desc org:onomondo
issuesSections:
  - title: My Issues
    filters: is:open author:@me
  - title: Assigned
    filters: is:open assignee:@me
defaults:
  preview:
    open: true
    width: 80
  prsLimit: 20
  issuesLimit: 20
  view: prs
  refetchIntervalMinutes: 10
repoPaths:
  onomondo/*: ~/Code/onomondo/*
pager:
  diff: delta
keybindings:
  prs:
    - key: g
      command: >
        cd {{.RepoPath}} && lazygit
    - key: D
      command: >
        cd {{.RepoPath}} &&
        gh pr checkout {{.PrNumber}} &&
        nvim -c ":DiffviewOpen main...{{.HeadRefName}}"
    - key: O
      command: >
        cd {{.RepoPath}} &&
        nvim -c ":silent Octo pr edit {{.PrNumber}}"
    - key: v
      command: >
        gh pr review --repo {{.RepoName}} --approve --body "$(gum input --prompt='Approval Comment: ')" {{.PrNumber}}
    - key: m
      command: >
        gh pr merge --repo {{.RepoName}} {{.PrNumber}} --merge --delete-branch
    - key: M
      command: >
        gh pr merge --repo {{.RepoName}} {{.PrNumber}} --admin --merge --delete-branch
    - key: C
      builtin: checkout

theme:
  ui:
    sectionsShowCount: true
    table:
      compact: false
