[metadata]
name = "env"
description = "A channel to select from environment variables"

[source]
command = "printenv"
output = "{split:=:1..}" # output the value

[preview]
command = "echo '{split:=:1..}'"

[ui]
layout = "portrait"
preview_panel = { size = 20, header = "{split:=:0}" }

[keybindings]
shortcut = "f3"

[actions.name]
description = "Output the variable name instead of the value"
command = "echo '{split:=:0}'"
mode = "execute"
