reporting: 'off'
startuppopupversion: 1
gui:
  skipUnstageLineWarning: true
  showCommandLog: false
notARepository: 'skip'
customCommands:
  - key: 'n'
    prompts:
      - type: 'menu'
        title: 'Creating new branch. What kind of branch is it?'
        options:
          - name: 'feature'
            value: 'feature'
          - name: 'hotfix'
            value: 'hotfix'
          - name: 'bugfix'
            value: 'bugfix'
          - name: 'chore'
            value: 'chore'
      - type: 'input'
        title: 'What is the new branch name?'
        initialValue: ''
    command: 'git checkout -b {{index .PromptResponses 0}}/{{index .PromptResponses 1}}'
    context: 'localBranches'
    loadingText: 'creating branch'
  - key: '<c-r>'
    prompts:
      - type: 'menu'
        title: 'Creating a pull request for branch.'
        options:
          - name: 'app'
            value: '-r jobn -r mkoliba -r MegiBegi -r fernandoabolafio'
          - name: 'data'
            value: '-r NicWagenaar -r giriblocks'
          - name: 'draft'
            value: '--draft'
      - type: 'input'
        title: 'The number of the Linear issue for it?'
        initialValue: ''
      - type: 'input'
        title: 'What should be the title of the pr?'
        initialValue: ''
    command: 'gh pr create {{ if index .PromptResponses 1 }} --title "{{ index .PromptResponses 2 }}" --body "Closes GRO-{{ index .PromptResponses 1 }}" {{ else }} --fill {{ end }} {{ index .PromptResponses 0 }}'
    context: 'global'
    loadingText: 'Creating pull request on GitHub'
  - key: '<c-p>'
    command: 'git remote prune {{.SelectedRemote.Name}}'
    context: 'remotes'
    loadingText: 'Pruning...'
    description: 'prune deleted remote branches'
  - key: 'M'
    command: 'git mergetool {{ .SelectedFile.Name }}'
    context: 'files'
    loadingText: 'opening git mergetool'
    subprocess: true
  - key: 'C'
    command: 'gitmoji -c'
    context: 'files'
    loadingText: 'opening gitmoji cli tool'
    subprocess: true
  - key: 'R'
    command: 'git reset --soft HEAD~1'
    context: 'files'
    loadingText: 'undo last commit'
